body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header h1, header h2, header h3, header h4, header h5,header h6{
  font-family: gt-super, Georgia, Cambria, "Times New Roman", Times, serif;
}

h1,  h2,  h3,  h4,  h5, h6{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



p{
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root{
  --primary-color: #191919;
  --secondary-color: #ffc017;
  --bg-dark: #F2F2F2;
  /* --bg-grey: #E8E9ED; */
  --bg-light: #F8F8FA; 
  --sub-text:#6b6b6b;
  --sub-text-light:#f2f5f8;
}